{
  "implicitWaitTime": 5,
  "appiumServer": "http://localhost:4723/wd/hub",
  "retryCount": 5,
  "desiredCaps":
  {
    "platformName": "android",
    "appPackage": "org.gnucash.android",
    "deviceName": "Nexus 5",
    "automationName": "UiAutomator2",
    "app": "/Users/admin/javier-paredeslopez/GnucashAndroid_v2.4.0.apk",
    "noReset" : True
  }
}